.button {
    -fx-text-fill: #FFFFFF;         /* White */
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-background-color: #00009C;  /* Duke Blue */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 8;
    -fx-opacity: 0.9;
}

.button:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#cellBtn {
    -fx-background-color: #D3D3D3;  /* Grey */
    -fx-border: 1px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

#deadCell {
    -fx-background-color: #000000;  /* Grey */
    -fx-border: 1px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

#aliveCell {
    -fx-background-color: #FF0000;
    -fx-border: 1px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

#otherCell {
    -fx-background-color: #0000FF;
    -fx-border: 1px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}


.slider {
    -fx-background: #D3D3D3;
    -fx-outline: none;
    -fx-opacity: 0.7;
}

.slider:hover {
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
}

#speedLbl {
    -fx-text-fill: #00009C;
}
