.button {
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
}
