.button {
    -fx-text-fill: #FFFFFF;         /* White */
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color: #00009C;  /* Duke Blue */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 8;
    -fx-opacity: 0.9;
}

.button:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.choice-box {
    -fx-mark-color: #00009C;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
}

.choice-box > .label {
    -fx-text-fill: #00009C;
}

.choice-box .context-menu {
    -fx-background-color: #FFFFFF;
}

.choice-box .menu-item:focused {
    -fx-background-color: #00009C;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #FFFFFF;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #00009C;
}

.radio-button {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-text-fill: #00009C;
    -fx-padding: 8;
    -fx-opacity: 0.7;
}

.radio-button .dot {
    -fx-mark-color: #00009C;
}

.radio-button:hover {
    -fx-opacity: 1;
}

.radio-button:selected {
    -fx-opacity: 1;
}

.slider {
    -fx-background: #D3D3D3;
    -fx-outline: none;
    -fx-opacity: 0.7;
}

.slider:hover {
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
}

#speedLbl {
    -fx-text-fill: #00009C;
}

#fileName {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #00009C;
}
